In [13]:
#This cell is a code cell.  Pressing shift-enter or using the "Run Cell" button will evaluate the code in this cell.
#The "Run Cell" button looks like a little black triangle.
#Run the code in this cell.

print("Hello World!")

Hello World!

In [2]:
#create a variable named a, and store the value 3+1 in it
a = 3+1

#display a
print(a)

4

In [14]:
#you can combine multiple objects in the same print statement

print("Three plus one is equal to", a)

Three plus one is equal to 4

In [15]:
#Note that the usual Python convention is to separate words in variable names using underscores

first_name = "Kyle"
last_name = "Hamble"
print("My name is",first_name, last_name)

My name is Kyle Hamble

In [8]:
#We can use the tab or "\t" and newline or "\n" characters to format our output.
#Adjust the output below so that your first and last name appear in the appropriate column.

print("First Name","\t","Last Name","\n",first_name,"\t", "\t",last_name)

First Name 	 Last Name
 Kyle 	 	 Hamble

In [11]:
#We can also combine strings using the + operator.
#Adjust the output below so that it includes a space between your first and last name.
first_name = "Kyle"
last_name = "Hamble"
print(first_name + " " + last_name)

Kyle Hamble

In [12]:
#Find a function that will convert your given name to uppercase.
first_name = "Kyle"
first_name.upper()

'KYLE'